<launch>
    <param name="/use_sim_time" value="true" />
    <arg name="bag_date" default="2024-12-24-18-37-36" />
    <arg name="delay" default="3" /> <!-- Pause duration in seconds -->
    <!-- Start the sync_sensors node -->
    <node name="fliter_node" pkg="syn_py" type="fliter_node" output="screen">
        <param name="date" value="$(arg bag_date)" />
    </node>

    <!-- Play the bag file with the date as its name, use the bag's timestamps, and delay the play start -->
    <node name="play_bag" pkg="rosbag" type="play" args="/home/slam327/rosbag/$(arg bag_date).bag --clock -r 0.2 --delay=$(arg delay)" output="log" />

</launch>